<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Registration</title>
</head>
<body style="background: linear-gradient(162deg,#8FF277 37%, #05F9DC 100%);" >
    <div class="h-15 border-8 border-green-300 bg-green-300 "  style="height: 80px;">  <h1 class="text-4xl font-bold text-center pt-3"> Our Math Game</h1></div>
  
    <div class="relative flex min-h-screen  flex-col  justify-center overflow-hidden py-6 bg-red">
        <div class="relative bg-white/50 px-6 pt-5 pb-5 shadow-xl  sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 ">
            <div class="mx-auto max-w-md">
                <h2 class="text-2xl text-center font-bold leading-tight">
                    Registration Form
                </h2>
<br><br><br>
                <div>
                    <form action="/register" id="UF" method="post">
                        <label for="name" class="text-md w-40 inline-block font-medium leading-5 text-black">Name</label>
                        <input required type="text" id="name" name="name" maxlength="40" class="bg-gray-100 inline-block rounded-lg shadow-md px-6 py-3 mb-5 text-base leading-6 placeholder-focus:invalid:border-green-500 focus:invalid:ring-green-500" placeholder="Type the Name">

                        <label for="Email" class="text-md w-40 inline-block font-medium leading-5 text-black">Email-Id</label>
                        <input required type="Email" id="email" name="email" class="bg-gray-100 inline-block rounded-lg shadow-md px-6 py-3 mb-5 text-base leading-6 placeholder-focus:invalid:border-green-500 focus:invalid:ring-green-500" placeholder="Type the Email">

                       
                        <label for="password" class="text-md w-40 inline-block font-medium leading-5 text-black">Password</label>
                        <input required type="password" id="password" name="password" maxlength="8" class="bg-gray-100 inline-block rounded-lg shadow-md px-6 py-3 mb-5 text-base leading-6 placeholder-focus:invalid:border-green-500 focus:invalid:ring-green-500" placeholder="Type the Password">
                        <i class="far fa-eye" id="togglePassword" style="margin-left: -80px; cursor: pointer;"></i>
<br>
<br>
<h4 class="text-md w-50 inline-block font-medium leading-5 text-gray-700 mr-4 text-black">Gender</h4>
&nbsp;     &nbsp;    &nbsp;    &nbsp; &nbsp;     &nbsp;    &nbsp;    &nbsp;<select aria-label="Gender" class="px-6 text-bold mx-7 rounded-lg mb-5 h-15 w-40">
<br>
<br>
                    <option >  Male  
                    </option>
                    <option>female</option>
                </select>  <br>
<br>
                  

&nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;     &nbsp;    &nbsp;    &nbsp;    &nbsp;    &nbsp;    <button type="submit" id="Register" class=" inline-block rounded-lg shadow-lg px-8 py-5 text-white hover:bg-navy-500 focus:outline-none mx-11 "  
style = "background-color: rgb(16, 16, 218);">Register</button>

                    </form>
                </div>
            </div>
        </div>
</body>
</html>